.header {
    color: red;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-right: 3px;
    margin-left: 30px;
}
.group {
    position: relative;
    top: -35px;
    float: right;
    padding-right:10px;
    padding-top:1px;
}
.button{
    position: relative;
    color: black;
    background-color: white;
    border: solid 2px black;
    margin-left: 15px;
}
.button1{
    position: relative;
    color: black;
    background-color: green;
    border: solid 2px black;
    margin-left: 15px;
}
.button2{
    position: relative;
    color: black;
    background-color: orange;
    border: solid 2px black;
    margin-left: 15px;
}
.button3{
    position: relative;
    color: black;
    background-color: red;
    border: solid 2px black;
    margin-left: 15px;
}